/* Page structure */
@import url("https://use.typekit.net/ffi6trt.css");
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

.divider {
  padding: 0 1rem;
}

.wrapper {
  min-height: 30vh;
  display: grid;
  place-items: center;
  margin: 0;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



body  {
    background-color: #feefe8;
    font-family: 'PT Mono', monospace;
}



.title {
    font-size: 45px;
    font-family: cooper-black-std, serif;
    font-style: normal;
    margin: 0;
    text-align: center;
}

.tools {
    font-weight: bold;
}

.box {
  box-shadow: 7px 5px #f18a23;
  border: 2px solid #f18a23;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  width: 468px;
  overflow: auto;
}

.box-row-1 {
    padding-right:30px; 
    float:left;
}
.box-row-2 {
    padding-right: 10px;
    float:left;
}

.navbar {
    padding: 30px;
}

.about {
    float: right;
}

.home {
    float:left;
}

.about-link, .home-link {
    text-decoration: none;
}

.about-link:hover, .home-link:hover {
    text-decoration: line-through;
}

/*peach*/
div.a {
width: 70px;
height: 70px;
position:fixed;
    
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

.orange-hover:hover {
    color: #fab41e;
}

.yellow-hover:hover {
    color: #f4d086;
}

.green-hover:hover {
    color: #a6c790;
}

.pink-hover:hover {
    color: #facbaf;
}

.blue-hover:hover {
    color: #88b29c;
}

.credit { 
  position:fixed;
  bottom:5px;
  right:50px;  
  text-decoration: underline;
}

/* font colors */
.orange {
    color: #fab41e;
}

.yellow {
    color: #f4d086;
}

.green {
    color: #a6c790;
}

.pink {
    color: #facbaf;
}

.blue {
    color: #88b29c;
}

.red {
    color: #f18a23;
}

.break-mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
  .title {
     font-size: 25px;
  }
  
  .title, .credit, p {
    text-align: center;
    
  }
    
   .break {
        display:none;
    }
    
    .break-mobile {
        display: block;
    }

    .box-row-1 {
        padding-right:0px; 
        float:none;
    }
    .box-row-2 {
        padding-right: 0px;
        float:none;
    }
    
    .box{
        width: auto;
    }
  
}
